<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Brian Charles Lara, WI</string>
		<key>image_name</key>
		<string>1.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Sachin Tendulkar, IND</string>
		<key>image_name</key>
		<string>2.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Chris Gayle, WI</string>
		<key>image_name</key>
		<string>3.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Rahul Dravid, IND</string>
		<key>image_name</key>
		<string>4.png</string>
	</dict>
</array>
</plist>
